h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: #074384;
    corner-radius: 7px;
    display: block;
    border: outset #0a8abd 1px;
}
h1 {
    font-size: 24px;   
}
h2 {
    font-size: 18px;   
}
h3 {
    font-size: 12px;   
}
h4 {
    font-size: 10px; 
    padding: 3px;
    display: inline;  
    
}
h5 {
    font-size: 8px;  
    padding: 3px; 
    display: inline;
    background: red;
    
}
a {     
   display: inline-block;     
   position: relative;    
   z-index: 1;     
   padding: 2px;     
   margin: -2px; 
   background: red;
}

body {
    font:12pt Tahoma;
    color: #074384; 
}


background: rgba(226,226,226,1);
background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 31%, rgba(209,209,209,1) 59%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(31%, rgba(219,219,219,1)), color-stop(59%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 31%, rgba(209,209,209,1) 59%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 31%, rgba(209,209,209,1) 59%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 31%, rgba(209,209,209,1) 59%, rgba(254,254,254,1) 100%);
background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 31%, rgba(209,209,209,1) 59%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );

.g1, .g2, .g3, .g4, .g5 {
background-color: red;
background-gradient: yellow;
padding: 3px;
background-gradient-angle: 45; 
}

.g1 { background-gradient: #0080ff; }

.g2 { background-gradient: #0080ff; }

.g3 { background-gradient: #0080ff; }

.g4 { background-gradient: #0080ff; }

.g5 { background-gradient: #0080ff; }

.c1, .c2, .c3, .c4, .c5{
background-color: white;
border: 0px;
color: black;
vertical-align: middle;
padding: 5px;

}
.image {
    corner-radius: 5px;
    display: inline;
}
.tag {
    corner-radius: 4px;
    border: outset #1d0abd 1px;
    color: #074384;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 12px;
    vertical-align: middle;
    font-weight: bold;
    background-color: white;
}
.panel {
    background-color: rgb(248, 252, 255);
    border-width: 1px;
    border-color:#074384;
    border-style: outset;
    vertical-align: middle;
    margin: auto;
    padding: 3px;
    corner-radius: 5px; 
}
.separator {
    border-width: 0px;
    border-top-width: 2px;
    border-color:#074384;
    border-style: outset;
}
.zero, .low, .high, .critical, .normal {
    background-color: white;
    vertical-align: middle;
    text-align: center;
    padding: 3px;
    corner-radius: 5px; 
    font-weight:bold;
    }
.zero {
    border: outset #E6E6E6 1px;
    color: #E6E6E6; 
    background-color: rgb(153, 149, 149);
}
.normal {
    border: outset #074384 1px;
    color: #074384; 
    background-color: #d7eafd;
}
.critical {
    border: outset rgb(243, 70, 70) 1px;
    color: rgb(150, 1, 1); 
    background-color: rgb(255, 227, 227);
}
.low {
    border: outset rgb(116, 106, 0) 1px;
    color: rgb(128, 115, 0); 
    background-color: rgb(255, 243, 153); 
    
}
.high {
    border: outset rgb(21, 160, 3) 1px;
    color: rgb(18, 112, 4); 
    background-color: rgb(222, 255, 217); 
}
.button {
    corner-radius: 8px; 
    display: inline;
    background-color: rgb(208, 227, 243);
    border: outset #074384 2px;
    color: #074384;
    font-weight:bold;
    padding: 4px;
}
.micro {
	font-size: 10px;
}
.small {
	font-size: 12px;
}
.big {
	font-size: 16px;
}
.giant {
	font-size: 24px;
}
.centrado {
	 text-align: center;
}
.descripcion {
    padding: 1px;
    font-size: 12px;
	font-weight: bold;
}
.observacion {
	color: #074384;
    padding: 1px;
    font-size: 12px;
	font-weight: bold;
}
.venta,
.terminado {
     background-gradient: #76e4ad;
     border-color: #76e4ad;
}
.devolucion,
.creado {
     background-gradient: #d69af0;
     border-color: #d69af0;
}
.compra,
.modificado {
     background-gradient: #b1ca66;
     border-color: #b1ca66;
}
.retorno {
     background-gradient: #e4b775;
     border-color: #e4b775;
}
.entrada {
     background-gradient: #8aa1ec;
     border-color: #8aa1ec;
}
.salida {
     background-gradient: #e0b18f;
     border-color: #e0b18f;
}
.pedido {
     background-gradient: #ab8ddf;
     border-color: #ab8ddf;
}
.presupuesto {
     background-gradient: #647fca;
     border-color: #647fca;
}
.deposito {
     background-gradient: #62f56c;
     border-color: #62f56c;
}
.extraccion {
     background-gradient: #ffaba3;
     border-color: #ffaba3;
}
.c0 { corner-radius: 5px; 
border: outset rgb(1, 212, 184) 1px;
color: #E6E6E6; font-weight:bold;}

.c1 { corner-radius: 0px; 
border: outset #000000 1px;
color: navy; font-weight:bold;}

.c2 { corner-radius: 10px;
border: outset #00BBBB 2px;
color: navy; font-weight:bold;}

.c3 { corner-radius: 0px 10px 10px 0px; 
border: outset #BB0000 2px;
color: navy; font-weight:bold;}

.c4 {  corner-radius: 10px 0px 0px 10px; 
border: outset #BBBB00 2px;
color: navy; font-weight:bold;}

.c5 {
corner-radius: 10px;
border: outset #00BB00 2px;
color: navy; font-weight:bold;
}
/*custom font*/
.header { 
    font:10pt Arial
    background-color: #aee2f6;
    corner-radius: 3px; 
    border: outset #000000 1px;
    color: navy; 
    font-weight:bold;
    padding: 5px;
}
.breadcontainer {
    margin-top: 30px;
}
.breadcrumb {
     color: #025183;
    corner-radius: 10px 0px 10px 0px; 
    border: outset #aee2f6 2px;
    font-weight:bold;
    vertical-align: middle;
    padding: 2px;
    margin-left: 2px;
    font-size: 10px;
}
.breadlast {
     background-gradient: #81b6f8;
    color: #025183;
    background-color: #aee2f6;
    corner-radius: 10px 0px 10px 0px  ; 
    border: outset #aee2f6 2px;
    font-weight:bold;
    vertical-align: middle;
    padding: 2px;
    background-gradient-angle: 45; 
   
}

